.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #F2F6D0;
  background-color: #71697a;
}

#navbar {
  background-color: #E4BE9E;
}

#nav-link {
  background-color: #E4BE9E;
  color: #71697a;
  font-size: 1.35em;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

#nav-link:hover {
  background-color: #71697a;
  color: #d0e1d4;
  font-size: 1.35em;
}

#submit-login-button {
  color: #71697A;
  background-color: #E4BE9E;
  font-weight: bold;
}

#submit-signup-button {
  color: #71697A;
  background-color: #E4BE9E;
  font-weight: bold;
}