.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  position: relative;
  left: 25%;
  right: 25%;
  color: #E4BE9E;
}

.welcome-child {
  font-style: italic;
  text-align:unset;
}

.hidden {
  visibility: hidden;
}

#navbar {
  background-color: #ebd2be;
  justify-content: center;
}

#add-recipe-no-cocktail-btn {
  margin-left: 25%;
  margin-right: 25%; 
  background-color: #ffe8d4; 
  color: #7f055f;
  font-weight: bold;
}

#add-recipe-with-cocktail-btn {
  background-color: #ebd2be;
  color: #45062e;
  max-width: 225px;
  font-weight: bold;
}

#welcome-link {
  color: #e5a4cb;
  text-decoration: none;
}

#welcome-link:hover {
  color: #ebd2be;
}

#welcome-link:active {
  color: #7f055f;
}

#nav-link {
  background-color: #ebd2be;
  color: #7f055f;
  font-size: 1.35em;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

#nav-link:hover {
  color: #45062e;
  font-size: 1.35em;
}

#nav-link:active {
  color: #e5a4cb;
}

.content-link {
  text-decoration: none;
  color: #536b78;
  font-weight: bold;
}

.content-link:hover {
  color: #45062e;
}

.content-link:active {
  color: #ffe8d4;
}

.comment-link {
  color: #7c98b3;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.comment-link:hover {
  color: #45062e;
}

.comment-link:active {
  color: #ffe8d4;
}

#submit-login-button {
  color: #45062e;
  background-color: #E4BE9E;
  font-weight: bold;
}

#new-recipe-btn {
  margin-left: 10px; 
  background-color: #7f055f; 
  color: #ffe8d4; 
  min-width: 350px; 
  font-weight: bold;
}

#cancel-recipe-input-btn {
  color: #45062e;
  background-color: #ffe8d4;
  font-weight: bold;
  margin-top: -50px;
  margin-left: 9px;
  max-width: 225px;
}

#no-cocktail-new-recipe {
  margin-left: 35%;
  background-color: #7f055f; 
  color: #ffe8d4; 
  min-width: 350px; 
  font-weight: bold;
}

#submit-signup-button {
  color: #45062e;
  background-color: #E4BE9E;
  font-weight: bold;
}

#edit-recipe-button {
  max-width: 50px;
  background-color: #45062e;
  color: #ffe8d4;
  font-weight: bold;
}

#cancel-edit-recipe-btn {
  background-color: #45062e;
  color: #ffe8d4; 
  max-width: 80px;
  font-weight: bold;
}

#edit-recipe-btn {
  margin-left: 10px;
  background-color: #7f055f; 
  color: #ffe8d4; 
  min-width: 100px; 
  font-weight: bold;
}

#delete-recipe-btn {
  margin-left: 10px; 
  background-color: #7f055f; 
  color: #ffe8d4; 
  min-width: 100px;
  font-weight: bold
}

#comments-card {
  margin-top: 20px;
  margin-left: -10%; 
  background-color: #7f055f; 
  color: #ffe8d4;
  max-width: 700px; 
  min-width: 500px;
}

#delete-comment-btn {
  margin-left: 10px;
  background-color: #45062e;
  color: #ffe8d4; 
  font-weight: bold; 
  max-height: 20px; 
  min-width: 3px;
  max-width: 5px;
}

#new-comment-btn {
  margin-left: 10px;
  background-color: #45062e;
  color: #ffe8d4; 
  min-width: 100px; 
  font-weight: bold;
}

.form-label {
  float: left;
  margin-left: 26%;
}

.form-field {
  float: right;
  margin-right: 25%;
}

.card-container {
  display: flex;
  justify-content: center;
}

body {
  color: #ffe8d4;
  background-color: #45062e;
}

h1, h2, h3, h4 {
  text-align: center;
}